$delayXs: 0.3s;
$delayMd: 0.5s;
$delayLg: 0.8s;

$zIndex: (
  "-1": -1,
  "0": 0,
  "1": 1,
  "2": 2,
  "5": 5,
  "10": 10,
  "25": 25,
  "50": 50,
  "100": 100,
  "200": 200,
  "500": 500,
  "1000": 1000,
  "1001": 1001,
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
